* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f4f4f4;
}

/* TOPO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.esquerda p {
  font-size: 16px;
  color: rgb(243, 69, 0);
  font-weight: bold;
  padding: 5px;
}

#criar-tarefas {
    background: black;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 12px 20px;
    transition: background 0.3s;
}

#criar-tarefas:hover {
    background-color: rgba(0, 0, 0, 0.582);
}

#pesquisar {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
}

/* COLUNAS */
.colunas-container{
    display: none;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px;
}

.coluna{
    flex: 1;
    min-height: 250px;
    min-width: 250px;
    padding: 15px;
}

.coluna h2{
    font-size: 20px;
}

hr{
    margin-top: 25px;
    border: 1px solid black;
}

.tarefas{
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.tarefas:hover{
    background-color: rgb(214, 211, 211, 0.5);
}

/* MENSAGEM CENTRAL */
#sem-tarefas{
    text-align: center;
    color: #5e5c5c;
    margin-top: 220px;
}

/* FORMULÁRIO DE TAREFAS */
.oculto{
    display: none;
}

#form-novatarefa{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1;
    border-radius: 10px;
    position: fixed;
    top: 25%;
    left: 23%;
    height: 350px;
}

#form-novatarefa input,
#form-novatarefa textarea{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

label{
    font-size: 13px;
    font-weight: bold;
}

#descricao{
    height: 150px;
    margin-top: 5px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

#cancelar{
    padding: 5px;
    border-radius: 5px;
    border: 1 solid #a3a3a3;
    font-weight: bold;
    background-color: white;
}

#salvar{
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: rgb(243, 69, 0);
    color: white;
}

#titulo{
    font-size: 22px;
    border: none;
}


